#products {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  text-align: center;

  width: 100%;
}

#products td, #products th {
  border: 1px solid #ddd;
  padding: 8px;
}

#products th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: gray;
  color: white;
}
caption{
  font-weight: bold;
  font-size: 2rem;
}

/*We have to find a way to make all the pictures the same size*/
.picture_phones{
  object-fit: cover;
  width: 9rem;

}
