body {
  width: 100%;
  margin:50px 0;
  padding:0;
  text-align:center;
  margin: auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  padding: 10px;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #dddddd;
}

footer {
  height: 100px;
}

section {
  width: 90%;
  margin: auto;
}

p, .list {
  font-size: 18px;
  letter-spacing: 1.5px;
}

h1, h2, h3, p, li {
  font-family: arial, sans-serif;
}

/* Navigation bar from assign1*/
.nav {
  background-color: #006699;
  height: 6%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav li {
  display: inline-block;
}
.nav li a {
  display: block;
  color: white;
  padding: 12px 30px;
  font-family: sans-serif;
  text-decoration: none;
}
.nav li a:hover {
  background-color: #3B99D2;
}
