body {
  width: 100%;
  margin: 0px;
  background-color: blue;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: orange;
}

tr {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ddd;
  border:1px solid;
  border-color: rgb(56,56,56);
  color: black;
  font-weight: bold;
}
